#container{
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.headerContent{
    color: #201E43;
    font-size: 2.4em;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.inputValues{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(211, 210, 210);
    border-radius: 10px;
}
i{
    margin: 0px 30px;
    color: #201E43;
}
input{
    border: 0;
    outline: 0;
    height: 50px;
    width: 350px;
    background: transparent;
    font-size: large;
}
.passwordIssue{
    padding-left: 50px;
    margin-top: 20px;
    color: #201E43;
}
.passwordIssue span{
    color: #01748e;
    cursor: pointer;
}

.submitLoginValues{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 30px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: #EEEEEE;
    background-color: #201E43 ;
    margin: 50px auto;
    border-radius: 50px;
    cursor: pointer;
}
.colorChange{
    background: rgb(211, 210, 210);
    color: #201E43;
}
@media screen and (max-width:700px){
    #container{
        margin: auto;
        margin-top: 80px;
        width: 480px;
    }
    .header{
        padding: 10px;
    }  
    .headerContent{
        font-size: 2em;
    }  
    .inputs{
        margin-top: 20px;
        gap: 15px;
    }
    .inputValues{
        width: 400px;
        height: 60px;
    }
    input{
        height: 30px;
        width: 300px;
        font-size: medium;
    }
    .passwordIssue{
        padding-left: 30px;
        margin-top: 10px;
    }
    .submitLoginValues{
        gap: 20px;
    }
    .submit{
        width: 150px;
        height: 40px;
        margin: 30px auto;
        border-radius: 40px;
    }
}
@media screen and (max-width:500px){
    #container{
        margin: auto;
        margin-top: 60px;
        width: 420px;
    }
    .header{
        padding: 8px;
    }  
    .headerContent{
        font-size: 1.6em;
    }  
    .inputs{
        margin-top: 10px;
        gap: 10px;
    }
    .inputValues{
        width: 360px;
        height: 40px;
    }
    input{
        height: 20px;
        width: 250px;
        font-size: medium;
    }
    .passwordIssue{
        padding-left: 20px;
        margin-top: 8px;
    }
    .submitLoginValues{
        gap: 15px;
    }
    .submit{
        width: 100px;
        height: 30px;
        margin: 20px auto;
        border-radius: 30px;
    }
}